body {
  font-family: sans-serif;
  background: white;
}

.Todo-Item:hover .trash-icon {
  display: block;
}

.Todo-Item {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
